@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@400;500&display=swap');


:root{
    --main-color:black;
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(--main-color);
    --border-hover:.2rem dashed  var(--main-color);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis',sans-serif;
    
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    background-color: #f9e3e5;
}
.hero{
    width:80%;
    margin: auto;
   
}

.navbar{
   margin: 30px auto;
   margin-top: -60px;
    display: flex;
    align-items: center;
 
}
ul{
    flex: 1;
    text-align: right;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 0 25px;
}

ul li a{
    text-decoration:none ;
    color:#000;
    
    padding: 0 10px;
    position: relative;
}
ul li a::after{
    content: '';
    width: 0;
    height: 10px;
    background: #cd221b;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:-32px;
    transition: 0.5s;
}
ul li a:hover::after{
    width: 100%;
}
.navbar-icons img{
    height:25px;
    margin-left:40px;
    cursor: pointer;
}
.navbar-icons{
    margin-left: 40px;
}



.banner{
    display: flex;
    margin-top: 80px;
    gap: 5%;

}

.left-column,.right-column{
    flex-basis: 50%;
}
.right-column img{
    margin-top: -15%;
    width: 100%;
}


.left-column h1{
    margin-top: -10%;
    font-size: 100px;
    
}
.left-column h3{
    font-size:35px;
    color: #fff;
}
span{
    color:#cd221b;
}
.left-column p{
    font-size: 17px;
    text-align: justify;
    color: rgba(57, 56, 56, 0.807);
    margin: 50px 0;
    margin-right: 5%;
    margin-top: 3%;
}
.btn button{
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid #f7221c;
    border-radius: 20px;
    cursor: pointer;
    color:#f7221c;
    background: transparent;
}

.btn .primary-btn{
    background: linear-gradient(#fb7381,#f14a60);
    box-shadow: 0 2px 15px rgba(248,38,103,0.26);
    color: #fff;
}
.btn{
    margin-bottom: 50px;
}
.primary-btn:hover{
    background: #cd221b;
}
.social-icons{
    width: 200px;
    text-align: center;
    opacity: .4;
    position: relative;
    margin-left: 160px;
    margin-top: 5%;
}

.social-icons img{
    height: 20px;
    margin: 0 14px;
}

.social-icons::after{
    content: '';
    width: 150px;
    height: 1px;
    background: #000;
    position: absolute;
    left: -160px;
    top:10px;
}



.heading{
  
    padding-top: -1%;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .05rem #f9e3e5d1;;
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
    font-size: 5rem;

}

.about .row{
    display: flex;
  align-items: center;
    flex-wrap:wrap;
    gap:1.5rem;
}
.about .row .image{
    margin-left: 3%;
    flex:1 1 42rem;
}
.about .row .content{
    margin-top: -1%;
    margin-left:-9%;
    flex: 1 1 42rem;
}

.about .row .image img{
    width:75%;
    animation: aboutImage 4s linear infinite;
}

@keyframes aboutImage {
    0%, 100%{
        transform: scale(.9);
        border-radius:  var(--border-radius-hover);
    }
    50%{
        transform: scale(.8);
        border-radius:  var(--border-radius)
    }
}


.about .row .content .title{
    color: #c34440d5;
    font-size: 2.5rem;
    line-height: 1.1;
    text-align: justify;
   
}

.about .row .content p{
    color: black;
    font-size:17px;
    line-height: 1.8;
    padding: 1rem 0;
    padding-right: 6%;
    text-align: justify;
    
}

.about .row .content .icons-container{
    display: flex;
    flex-wrap:wrap;
    gap:1rem;
    padding-top:2rem;
}

.about .row .content .icons-container .icons{
    flex:1 rem;
   padding: 2.7rem;
    text-align: center;
    gap:3.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: #f9e3e5;
}



.about .row .content .icons-container .icons img h3{
    font-size: 1.7rem;
    padding-top: 1rem;
    color:black;
} 
.btnn{
    display: inline-block;
    padding: .3rem 1rem;
    border-radius: var(--border-radius-hover);
    border:var(--border-hover);
    color: black;
    background: none;
  
    cursor:pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
    text-decoration: none;
}
.btnn:hover{  
    border-radius: var(--border-radius);
    border:var(--border);
}





.feature{
    padding: 2rem 9%;
    background-color: #f9e3e5;
    margin-top: -2%;
}
.head{
    margin-top: 1%;
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
} 

.head span{
    background: #c34440d5;;
    color:white;
    display: inline-block;
    
    padding: .5rem 3rem;
    clip-path: polygon(100% 0 ,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);

}
.feature .box-container{
       border:0px solid;
       display: grid;
       grid-template-columns: repeat(auto-fit , minmax(25rem,3fr));
       gap:1.2rem;

}
.feature .box-container .box{
  
    padding: 2rem 2rem;
    background:white;
    outline:.1rem solid rgba(15, 14, 14, 0.461);
    outline-offset:-1rem;
    text-align:center;
    box-shadow:0 .5rem 1.5rem rgba(12, 12, 12, 0.1);

}
.feature .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px  #f9e3e5;
}


.feature .box-container .box h3 {
    font-size:1.7rem;
    color:rgba(18, 17, 17, 0.724);
}

.headingg{
  
    padding-top: -1%;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .05rem rgba(76, 71, 71, 0.635);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
    font-size: 5rem;

}